.slider-container {
  overflow: hidden;
  background-color: #fff;
  margin: 0 auto;
  height: 90px;
  display: flex;
  align-items: center;
}

.sliderLogo {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  animation: slide 20s linear infinite;
}

.brandsLogo {
  flex: 0 0 auto;
  width: 110px;
  display: flex;
  justify-content: center;
}

.brandsLogo img {
  width: 100px;
}

@keyframes slide {
  0% {
    transform: translateX(0px);
  }

  100% {
    transform: translateX(-1870px);
  }
}
